%section#sec_intro.sec_intro.sec_odd

	%article{"data-container" => "width_700"}

		.wrap_svg.wrap_stc-angel
			%svg.logo_stc-angel{:viewBox => "0 0 206 134"}
				%use{"xlink:href" => "#logo_stc-angel"}

		%h2.visuallyhidden Holy.
		.wrap_svg.wrap_svg-title.wrap_txt-holy
			%svg.txt_holy{:viewBox => "0 0 131 58"}
				%use{"xlink:href" => "#txt_holy_en"}

		.wrap_content
			%p Coming soon to Beechwood – a brand new development on a truly historic site. We are ModBox, a boutique property development firm with a vision that will transform Beechwood Village with inspired new residences and a marketplace for the entire community to enjoy.
			%p Introducing St. Charles Market. We've reimagined how to use this iconic property, which, for more than 100 years, was a gathering place for many communities. Designed by the award-winning Ottawa architecture firm, Linebox Studios, this development will feature unmistakably modern townhomes and stacked residences that wrap around the historic St. Charles Church (1908), creating an intimate village-within-a-village.
			%p At its heart is the former church with its landmark bell tower. Its interior will be carefully restored and adapted to accommodate a year-round market featuring carefully curated local vendors as well as cafes and restaurants. Outside the market and sandwiched between the residences will be beautiful and unexpected public spaces. A sculpture garden, a seasonal al fresco farmers market, patios and seating will all revive this site, making it a lovely and unique gathering place once again.
			%p Bringing new life to an incredible site... holy indeed!