%section#sec_intro.sec_intro.sec_odd

	%article{"data-container" => "width_700"}

		.wrap_svg.wrap_stc-angel
			%svg.logo_stc-angel{:viewBox => "0 0 206 134"}
				%use{"xlink:href" => "#logo_stc-angel"}

		%h2.visuallyhidden Holy.
		.wrap_svg.wrap_svg-title.wrap_txt-holy
			%svg.txt_holy{:viewBox => "0 0 131 58"}
				%use{"xlink:href" => "#txt_holy_en"}

		.wrap_content
			%p It&rsquo;s beautiful homes designed by one of the city&rsquo;s leading architects. It&rsquo;s a year-round market inside a restored heritage church. It&rsquo;s curated shops, a fresh new restaurant and a neighbourhood cafe. It&rsquo;s an urban village within a city block.
			%p Meet St. Charles Market.
			%p The historic St. Charles Church is being restored to its former glory as the centre of community life in Beechwood Village. Every aspect has been expertly tailored for urban living. The townhomes and residences are filled with natural light, spacious bedrooms and full-sized kitchens and bathrooms. The market is steps from your front door. Because location and lifestyle can co-exist.