%section#sec_blog.sec_blog.sec_odd

	%article{"data-container" => "width_1330"}

		-# home & single post page use class 'row_single', blog uses 'row_multi'
		#pkry_container.pkry_container.row_multi{"data-images" => "waiting"}

			- arrTitles = ['The Beacon is back. Here&rsquo;s a timeline of events.', 'A new brand for a new beginning.', 'Vendors confirmed, and the list is growing.', 'Need a reason to move in? Here&rsquo;s our 10 favourite late-night haunts.']
			- numPosts = 0
			- numAdjustedLength = arrTitles.length - 1
			- strCurrentTitle = arrTitles[numPosts]

			- (1..12).each do |i|

				- if i == 7
					%a.pkry_brick.brick_text{:id => "post_7", :href => "single.html", :title => "We have been waiting"}
						.wrap_pkry-text
							%p &ldquo;We&rsquo;ve been waiting for this a long time.&rdquo; &ndash; Tim Ventura
						.wrap_pkry-meta
							%time{:datetime => "2016-08-13T23:59:59-02:00"} July 13, 2016
				- else
					%a.pkry_brick.brick_image{:id => "post_#{i}", :href => "single.html", :title => "#{strCurrentTitle}"}
						.wrap_pkry-image
							%img.pkry_image{:src => "assets/img/thumb_#{i}.jpg", :alt => ""}
							.wrap_read-more
								%p Read on
						.wrap_pkry-meta
							%h4 #{strCurrentTitle}
							%time{:datetime => "2016-08-13T23:59:59-02:00"} July 13, 2016

				- if numPosts < numAdjustedLength
					- numPosts += 1
				- else
					- numPosts = 0

				- strCurrentTitle = arrTitles[numPosts]

			.pkry_gutter

			#pkry_loader.pkry_loader
				.wrap_content
					.wrap_svg.wrap_ui-loader
						%svg.ui_loader{:viewBox => "0 0 64 64"}
							%use{"xlink:href" => "#ui_loader"}
					%p Loading Posts