%section#sec_404.sec_404.sec_odd

	%article{"data-container" => "width_700"}

		%h2.visuallyhidden Error 404
		.wrap_svg.wrap_svg-title.wrap_txt-error
			%svg.txt_error{:viewBox => "0 0 260 45"}
				%use{"xlink:href" => "#txt_error_en"}

		.wrap_content
			:plain
				<p>Oh no! It seems as though the page you are looking for does not exist. Try returning to the <a href="index.html" title="Return Home">home page</a> and maybe you will find what you are looking for. Good luck!</p>