%aside#mailchimp.mailchimp{"data-modal" => "inactive"}

	#wrap_shake.wrap_content

		%a#modal_close.modal_close.wrap_svg{:href => "#mailchimp", :title => "Fermer cette modal"}
			%svg.ui_close{:viewBox => "0 0 64 64"}
				%use{"xlink:href" => "#ui_close"}

		%form#mc-embedded-subscribe-form.validate{:action => "//modbox.us10.list-manage.com/subscribe/post-json?u=9d04fb276b7023a982943ca3e&amp;id=ac14f0966e&c=?", :method => "GET", :name => "mc-embedded-subscribe-form", :novalidate => true}

			.wrap_svg.wrap_stc-key
				%svg.logo_stc-key{:viewBox => "0 0 155 64"}
					%use{"xlink:href" => "#logo_stc-key"}

			%h5 Abonnez-vous au bulletin du march&eacute; Saint-Charles et nous vous tiendrons au courant de tout ce qui se passe.

			%input#mce-EMAIL.mce-email{:type => "email", :name => "EMAIL", :value => "", :placeholder => "Entrez l'adresse courriel", :required => true, :tabindex => "2"}

			#do-not-remove.visuallyhidden
				%input{:type => "text", :name => "b_9d04fb276b7023a982943ca3e_ac14f0966e", :value => "", :tabindex => "-1"}

			%input#mc-embedded-subscribe{:type => "submit", :value => "Inscrivez-moi", :name => "subscribe"}

			.wrap_response
				%p#mce-response-text