%section#sec_404.sec_404.sec_odd

	%article{"data-container" => "width_700"}

		%h2.visuallyhidden Erreur 404
		.wrap_svg.wrap_svg-title.wrap_txt-error
			%svg.txt_error{:viewBox => "0 0 294 45"}
				%use{"xlink:href" => "#txt_error_fr"}

		.wrap_content
			:plain
				<p>Oh non! Il semble que la page que vous cherchez ne pas exister. Essayez de revenir &agrave; la <a href="index-fr.html" title="Page d'accueil">page d'accueil</a> et peut-&ecirc;tre que vous trouverez ce que vous cherchez. Bonne chance!</p>