%section#sec_sales.sec_sales.sec_even

	%article{"data-container" => "width_700"}

		%h3.visuallyhidden Ouverture du centre de vente – printemps 2016
		.wrap_svg.wrap_svg-title.wrap_txt-sales
			%svg.txt_sales{:viewBox => "0 0 656 30"}
				%use{"xlink:href" => "#txt_sales_fr"}

		.wrap_content
			:plain
				<p>Vous voulez en savoir plus? <a href="https://twitter.com/stcharlesmarket" title="Suivez-nous sur Twitter" target="_blank">Suivez-nous sur Twitter</a> ou abonnez-vous &agrave; notre bulletin pour obtenir des mises &agrave; jour r&eacute;guli&egrave;rement.</p>

		.wrap_svg.wrap_stc-key
			%svg.logo_stc-key{:viewBox => "0 0 155 64"}
				%use{"xlink:href" => "#logo_stc-key"}

		%a.button.btn_brd.brd_white.modal_open{:href => "#mailchimp", :title => "Tenez-moi au courant"} Tenez-moi au courant

	#bg_stripes.bg_stripes