%section#sec_post.sec_post.sec_odd{"data-container" => "width_1330"}

	%article{"data-container" => "width_1000"}

		.wrap_headlines
			%h2 Le temps est proche. Compte &agrave; rebours pour Market St. Charles.
			%p
				%time{:datetime => "2016-08-13T23:59:59-02:00"} 1 ao&ucirc;t 2016
				%cite &ndash; affich&eacute; par Melissa

		.wrap_image
			%img{:src => "assets/img/feature.jpg", :alt => "Feature Image"}

		.wrap_content{"data-container" => "width_620"}
			%p Sizzle metus urna, luctus things, tristique izzle, fo shizzle my nizzle izzle, nulla. Ass pharetra, nisi bow wow wow facilisizzle things, neque justo consequat fo shizzle, gangsta fringilla go to hizzle erat mah nizzle ass. Class tellivizzle shizzlin dizzle sure torquent per conubia ghetto, own yo' hymenizzle. Brizzle you son of a bizzle orci, scelerisque eget, iaculizzle vel, boom shackalack pizzle, elit. Nunc rizzle.
			%p Fusce velizzle urna, accumsan bling bling, feugizzle nec, molestie bow wow wow, sapizzle. Curabitur condimentizzle. Fo nizzle dolor nizzle nizzle mattis pharetra. Mah nizzle nulla felizzle, mammasay mammasa mamma oo sa boofron, shizzle my nizzle crocodizzle quis, mollis nec, bizzle. Maecenizzle gizzle crunk. Nam nibh. Sizzle my shizz. Nulla boom shackalack. Maecenas metizzle we gonna chung, semper crazy, lobortis bling bling, molestie shut the shizzle up, lacizzle. Morbi mi nibh, semper crazy, dapibizzle izzle, you son of a bizzle mah nizzle, velit. Check it out dictizzle tellus quizzle felizzle tempizzle crazy.

		%a.link_blog{:href => "blog-fr.html", :title => "Voir tous les articles du blogue"} Voir tous les articles du blogue