%section#sec_contact.sec_contact.sec_even

	%article

		%h3.visuallyhidden Vous avez une question ou souhaitez obtenir plus d'information? Nous aimerions conna&icirc;tre votre opinion.
		.wrap_svg-multi
			.wrap_svg.wrap_svg-title.wrap_txt-question1
				%svg.txt_question-1{:viewBox => "0 0 883 30"}
					%use{"xlink:href" => "#txt_question-1_fr"}
			.wrap_svg.wrap_svg-title.wrap_txt-question2
				%svg.txt_question-2{:viewBox => "0 0 543 30"}
					%use{"xlink:href" => "#txt_question-2_fr"}

		%a.button.btn_brd.brd_white.link_tel{:href => "tel:+1-613-789-2092", :title => "Appelez-nous au 613-789-2092"} Appelez-nous au 613-789-2092
		%a#secret_email.button.btn_brd.brd_white.link_email{:href => "#", :title => "Envoyez-nous un courriel"} Envoyez-nous un courriel