// ==|== media queries ========================================================
// ============================================================================

@media only screen and (min-height: 528px) {

// ==|== primary styles =======================================================
// ============================================================================

	// Navigation
	// ----------------------------------------------------------------------------

	// --- Nav Primary --- \\
	nav.nav_primary {
		margin-bottom: 8rem;
	}
	nav.nav_primary ul li.link_lang {
		margin-top: 8.4rem;
	}

}

@media only screen and (min-width: 480px) {

// ==|== main styles ==========================================================
// ============================================================================

	// Home
	// ----------------------------------------------------------------------------
	// --- Sales --- \\
	section.sec_sales article p br {
		display: block;
	}

}

@media only screen and (min-width: 768px) {

// ==|== primary styles =======================================================
// ============================================================================

	// Header
	// ----------------------------------------------------------------------------
	header {
		padding-left: 3.2rem;
		padding-right: 3.2rem;
		background-size: 40rem 26.6rem, cover;
	}
	header div.wrap_section {
		position: relative;
		padding-top: 18rem;
		padding-bottom: 18rem;
	}
	// --- Main Logo --- \\
	div.wrap_logo-wordmark {
		margin-bottom: 12rem;
	}
	// --- Quotation --- \\
	div.wrap_quote-mies {
		margin-bottom: 0;
	}
	// --- Updates Button --- \\
	a.link_updates {
		display: block;
		position: absolute;
		top: 4.2rem;
		left: -0.4rem; // visually compensate for curve
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		width: 13rem;
		height: 13rem;
		line-height: 13rem;
		color: $hsl_L100;
		background-color: $hsl_navy;
		border: none;
		border-radius: 50%;
	}
	a.link_updates span {
		display: inline-block;
		vertical-align: middle;
		line-height: 1.4;
	}
	// + interaction + \\
	a.link_updates:hover {
		color: $hsl_L100;
		background-color: $hsl_pink;
		border-color: transparent;
	}
	a.link_updates:active {
		color: $hsl_L100;
		background-color: darken($hsl_pink, 10%);
		border-color: transparent;
	}

	// Navigation
	// ----------------------------------------------------------------------------
	div.navigation {
		@include pos_cover-reset(static);
		@include toggle_visibility(on);
		background-color: transparent;
		// reset flex styles
		display: block;
	}
	// --- Nav Toggle --- \\
	a.nav_toggle {
		display: none;
	}
	// --- Nav Primary --- \\
	nav.nav_primary {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 5.6rem;
		margin-bottom: 0;
		padding-top: 0;
	}
	nav.nav_primary ul li.link_page {
		display: inline-block;
		margin-right: 2rem;
		margin-bottom: 0;
	}
	nav.nav_primary ul li:nth-last-child(2) {
		margin-right: 0;
	}
	nav.nav_primary ul li.link_page a {
		font-size: 1.8rem;
	}
	nav.nav_primary ul li.link_lang {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 0;
	}
	// --- Nav Social --- \\
	nav.nav_social {
		position: absolute;
		top: 5.6rem;
		right: 0;
	}

}

@media only screen and (min-width: 960px) {


}

@media only screen and (min-width: 1200px) {

// ==|== primary styles =======================================================
// ============================================================================

	// Header
	// ----------------------------------------------------------------------------
	header {
		padding-left: 6.4rem;
		padding-right: 6.4rem;
	}
	header div.wrap_section {
		padding-top: 24rem;
		padding-bottom: 24rem;
	}
	// --- Main Logo --- \\
	div.wrap_logo-wordmark {
		margin-bottom: 16rem;
	}

	// Navigation
	// ----------------------------------------------------------------------------
	// --- Nav Primary --- \\
	nav.nav_primary {
		bottom: 8rem;
	}
	nav.nav_primary ul li.link_page {
		margin-right: 4rem;
	}
	nav.nav_primary ul li:nth-last-child(2) {
		margin-right: 0;
	}

}

/*
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // IE10 & IE11
}
*/