// ==|== media queries ========================================================
// ============================================================================

@media only screen and (min-width: 480px) {

// ==|== main styles ==========================================================
// ============================================================================

	// Header - Blog
	// ----------------------------------------------------------------------------
	// --- Nav Blog --- \\
	nav.nav_blog ul li.link_blog,
	nav.nav_blog ul li.link_home {
		display: inline-block;
	}
	nav.nav_blog ul li.link_blog {
		margin-right: 1.6rem;
		margin-bottom: 0;
	}

	// Sections
	// ----------------------------------------------------------------------------
	// --- Sales --- \\
	section.sec_sales article p br {
		display: block;
	}

	// Packery
	// ----------------------------------------------------------------------------
	// --- Row: Multi --- \\
	div.pkry_container.row_multi a {
		width: calc(33.3333333% - 1.4rem);
	}

}

@media only screen and (min-height: 480px) {

// ==|== main styles ==========================================================
// ============================================================================

	// Mailchimp
	// ----------------------------------------------------------------------------
	// --- Modal Close --- \\
	a.modal_close {
		margin-bottom: 6.4rem;
	}

}

@media only screen and (min-height: 568px) {

// ==|== main styles ==========================================================
// ============================================================================

	// Mailchimp
	// ----------------------------------------------------------------------------
	// --- Modal Close --- \\
	a.modal_close {
		margin-bottom: 12rem;
	}

}

@media only screen and (min-width: 768px) {

// ==|== primary styles =======================================================
// ============================================================================

	// General Styles
	// ----------------------------------------------------------------------------
	// --- Buttons --- \\
	.button {
		padding: 1.4rem 2.2rem 1.6rem 2.2rem;
		font-size: 2rem;
	}

	// Header - Common
	// ----------------------------------------------------------------------------
	div.wrap_pos-abs {
		top: 0;
		left: 3.2rem;
		right: 3.2rem;
	}
	// --- Updates Button --- \\
	a.link_updates {
		display: block;
		position: absolute;
		top: 4.2rem;
		left: -0.4rem; // visually compensate for curve
	}
	// --- Nav Social --- \\
	nav.nav_social {
		position: absolute;
		top: 5.6rem;
		right: 0;
	}

	// Header - Home
	// ----------------------------------------------------------------------------
	header.header_home {
		padding-top: 18rem;
		padding-bottom: 18rem;
	}
	div.bg_angels {
		background-size: 40rem 26.6rem;
	}
	// --- Main Logo --- \\
	header.header_home div.wrap_logo-wordmark {
		margin-bottom: 12rem;
	}
	// --- Quotation --- \\
	div.wrap_quote-mies {
		margin-bottom: 0;
	}
	// --- Nav Primary --- \\
	nav.nav_primary {
		position: absolute;
		z-index: 200;
		top: 78rem;
		left: 0;
		right: 0;
		padding: 2.4rem 3.2rem;
		height: 6.6rem;
	}
	nav.nav_primary ul {
		position: relative;
	}
	nav.nav_primary ul li.link_sec {
		display: inline-block;
	}
	nav.nav_primary ul li.link_lang {
		position: absolute;
		top: -1rem;
		right: 0;
	}
	nav.nav_primary ul li.link_lang a {
		padding: 1rem 1.8rem 1.2rem 1.8rem;
		font-size: 1.5rem;
	}

	// Header - Blog
	// ----------------------------------------------------------------------------
	header.header_blog {
		padding-top: 16rem;
		padding-bottom: 0;
	}
	// --- Main Logo --- \\
	header.header_blog div.wrap_logo-wordmark {
		margin-bottom: 0;
	}
	// --- Updates Button --- \\
	header.header_blog a.link_updates {
		top: 14.2rem;
	}
	// --- Nav Blog --- \\
	nav.nav_blog {
		position: absolute;
		z-index: 200;
		top: 3.6rem;
		left: 0;
		right: 0;
		padding: 2.4rem 3.2rem;
		height: 6.6rem;
		text-align: left;
		background-color: hsla(0,0%,100%,0.9);
	}
	nav.nav_blog ul li a {
		font-size: 1.8rem;
	}
	nav.nav_blog ul li.link_top,
	nav.nav_blog ul li.link_blog {
		margin-right: 4.2rem;
	}
	nav.nav_blog ul li.link_blog a,
	nav.nav_blog ul li.link_home a {
		display: inline;
		padding: 0;
		border: none;
	}

// ==|== main styles ==========================================================
// ============================================================================

	// Sections
	// ----------------------------------------------------------------------------
	section {
		padding-top: 7.2rem;
		padding-bottom: 7.2rem;
	}
	section:not(.sec_post) {
		padding-left: 3.2rem;
		padding-right: 3.2rem;
	}
	section article div.wrap_content p {
		margin-bottom: 3.2rem;
		font-size: 1.7rem;
		line-height: 1.5;
	}
	// + section odd (white bg) + \\
	section.sec_odd article div.wrap_svg-title {
		margin-bottom: 5.2rem;
	}
	// + section even (coloured bg) + \\
	section.sec_even {
		padding: 7.2rem 1.6rem;
	}
	section.sec_even article div.wrap_svg-title {
		margin-bottom: 3.2rem;
	}
	// --- Intro --- \\
	section.sec_intro article div.wrap_stc-angel {
		margin-bottom: 6.4rem;
	}
	// --- Sales --- \\
	// section.sec_sales {
	div.bg_stripes {
		background-image: repeating-linear-gradient(-45deg, $hsl_navy 0px, $hsl_navy 62px, $hsl_navy-D 62px, $hsl_navy-D 124px);
	}
	section.sec_sales article div.wrap_stc-key {
		margin-top: 4rem;
		margin-bottom: 4rem;
	}
	// --- Contact --- \\
	section.sec_contact article div.wrap_svg-multi {
		margin-bottom: 4rem;
	}
	section.sec_contact article div.wrap_svg-multi div.wrap_txt-question1 {
		margin-bottom: 0.6rem;
	}
	// --- Single Post --- \\
	section.sec_post article div.wrap_headlines,
	section.sec_post article div.wrap_content {
		padding-left: 3.2rem;
		padding-right: 3.2rem;
	}
	section.sec_post article div.wrap_headlines,
	section.sec_post article div.wrap_image,
	section.sec_post article div.wrap_content {
		margin-bottom: 6.4rem;
	}
	section.sec_post article div.wrap_headlines h2 {
		margin-bottom: 3.2rem;
		font-size: 4.8rem;
	}
	section.sec_post article div.wrap_headlines p {
		font-size: 1.9rem;
	}
	section.sec_post article div.wrap_content p {
		margin-bottom: 3.2rem;
		font-size: 1.7rem;
	}
	section.sec_post article a.link_blog {
		font-size: 1.9rem;
	}

	// Footer
	// ----------------------------------------------------------------------------
	footer {
		padding: 7.2rem 3.2rem;
	}
	footer div.footer_developer {
		margin-bottom: 8rem;
	}
	footer div.footer_partners {
		width: 46rem;
		margin-left: auto;
		margin-right: auto;
	}
	footer div.footer_partners div h6,
	footer div.footer_partners div a {
		display: inline-block;
		vertical-align: middle;
	}
	footer div.footer_partners div h6 {
		margin-right: 2rem;
		margin-bottom: 0;
		text-align: right;
	}
	footer div.footer_partners div a {
		margin-left: 0;
		margin-right: 0;
	}
	footer div.footer_partners div.partner_architect {
		float: left;
		margin-bottom: 0;
	}
	footer div.footer_partners div.partner_manager {
		float: right;
	}
	footer div.footer_partners div.partner_manager h6 {
		margin-right: 2rem; // required to repeat this because of selector heirarchy
	}

// ==|== main styles ==========================================================
// ============================================================================

	// Sections
	// ----------------------------------------------------------------------------
	// --- Blog --- \\
	section.sec_blog {
		padding-bottom: 3.2rem; // compensate for margin-bottom of packery elements
	}
	section.sec_blog article a.button {
		margin-bottom: 6.8rem;
	}

	// Packery
	// ----------------------------------------------------------------------------
	div.pkry_container div.pkry_gutter {
		width: 3.2rem;
	}
	div.pkry_container a {
		margin-bottom: 4rem;
	}
	div.pkry_container a div.wrap_pkry-meta time {
		font-size: 1.2rem;
	}
	// --- Row: Single --- \\
	div.pkry_container.row_single a {
		width: calc(50% - 1.6rem);
	}
	// --- Row: Multi --- \\
	div.pkry_container.row_multi a {
		width: calc(33.3333333% - 2.2rem);
	}
	// --- Brick Image --- \\
	div.pkry_container a.brick_image div.wrap_pkry-image {
		margin-bottom: 2rem;
	}
	div.pkry_container a.brick_image div.wrap_pkry-image div.wrap_read-more {
		display: block;
	}
	div.pkry_container a.brick_image div.wrap_pkry-meta h4 {
		margin-bottom: 2rem;
		font-size: 2rem;
	}
	// + interaction + \\
	div.pkry_container a.brick_image:hover div.wrap_pkry-image img {
		opacity: 0.94;
	}
	div.pkry_container a.brick_image:hover div.wrap_pkry-image div.wrap_read-more {
		opacity: 1;
	}
	div.pkry_container a.brick_image:active div.wrap_pkry-image img {
		opacity: 1;
	}
	div.pkry_container a.brick_image:active div.wrap_pkry-image div.wrap_read-more {
		opacity: 0.94;
	}
	// --- Brick Text --- \\
	div.pkry_container a.brick_text {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	div.pkry_container a.brick_text div.wrap_pkry-text p {
		font-size: 2.6rem;
	}

	// Mailchimp
	// ----------------------------------------------------------------------------
	[data-modal] {
		background-color: hsla(0,0%,0%,0.12);
	}
	[data-modal] div.wrap_content {
		width: 58rem;
		height: 40rem;
		background-color: $hsl_L100;
		border-radius: 1.4rem;
		box-shadow: 0 0 0.8rem hsla(0,0%,0%,0.4);
	}
	// --- Modal Close --- \\
	a.modal_close {
		display: none;
	}
	// --- Form --- \\
	form {
		padding-left: 3.2rem;
		padding-right: 3.2rem;
	}
	form h5 {
		margin-bottom: 4rem;
		font-size: 2rem;
	}
	form input {
		height: 6rem;
		font-size: 2rem;
	}
	form input[type="email"] {
		margin-bottom: 2.6rem;
		width: 28rem;
	}
	form input[type="submit"] {
		width: 19rem;
	}

}

@media only screen and (min-width: 960px) {

// ==|== main styles ==========================================================
// ============================================================================

	// Sections
	// ----------------------------------------------------------------------------
	// --- Blog --- \\
	body.home section.sec_blog,
	body.single section.sec_blog {
		padding-bottom: 7.2rem; // restore padding-bottom for single rowed packery pages
	}

	// Packery
	// ----------------------------------------------------------------------------
	div.pkry_container.row_single a,
	div.pkry_container.row_multi a {
		width: calc(25% - 2.4rem);
	}
	div.pkry_container.row_single a {
		margin-bottom: 0;
	}

}

@media only screen and (min-width: 1200px) {

// ==|== primary styles =======================================================
// ============================================================================

	// Header - Common
	// ----------------------------------------------------------------------------
	div.wrap_pos-abs {
		left: 6.4rem;
		right: 6.4rem;
	}

	// Header - Home
	// ----------------------------------------------------------------------------
	header.header_home {
		padding-top: 24rem;
		padding-bottom: 24rem;
	}
	div.bg_angels {
		width: 200%;
		height: 200%;
		transform: translate3d(-50%,-50%,0);
	}
	// --- Main Logo --- \\
	header.header_home div.wrap_logo-wordmark {
		margin-bottom: 16rem;
	}
	// --- Nav Primary --- \\
	nav.nav_primary {
		top: 91rem;
		padding-left: 6.4rem;
		padding-right: 6.4rem;
		backface-visibility: hidden;
	}
	header.nav_fixed nav.nav_primary {
		position: fixed;
		top: 0;
	}
	header.nav_fixed-full nav.nav_primary {
		background-color: hsla(0,0%,100%,0.9);
	}
	header.nav_fixed-full nav.nav_primary ul li.link_sec a {
		color: $hsl_navy;
	}
	header.nav_fixed-full nav.nav_primary ul li.link_lang a {
		color: $hsl_navy;
		border-color: $hsl_navy;
	}
	// + section tracking + \\
	header.nav_fixed-full nav.nav_primary[data-current="intro"] ul li.link_intro a,
	header.nav_fixed-full nav.nav_primary[data-current="blog"] ul li.link_blog a,
	header.nav_fixed-full nav.nav_primary[data-current="contact"] ul li.link_contact a {
		color: $hsl_pink-D;
	}
	// + interaction + \\
	header.nav_fixed-full nav.nav_primary ul li.link_sec a:hover {
		color: $hsl_pink-D;
	}
	header.nav_fixed-full nav.nav_primary ul li.link_lang a:hover {
		color: $hsl_pink-D;
		border-color: $hsl_pink-D;
	}
	header.nav_fixed-full nav.nav_primary ul li.link_sec a:active {
		color: $hsl_pink;
	}
	header.nav_fixed-full nav.nav_primary ul li.link_lang a:active {
		color: $hsl_pink;
		border-color: $hsl_pink;
	}

	// Header - Blog
	// ----------------------------------------------------------------------------
	header.header_blog {
		padding-top: 18rem;
	}
	// --- Updates Button --- \\
	header.header_blog a.link_updates {
		top: 16.8rem;
	}
	// --- Nav Blog --- \\
	nav.nav_blog {
		padding-left: 6.4rem;
		padding-right: 6.4rem;
		text-align: center;
	}
	nav.nav_blog ul li.link_top {
		display: inline-block;
	}
	nav.nav_blog ul li.link_top a {
		color: $hsl_navy;
	}
	nav.nav_blog ul li.link_top a:hover {
		color: $hsl_pink-D;
	}
	nav.nav_blog ul li.link_top a:active {
		color: $hsl_pink;
	}
	// --- Nav Blog --- \\
	header.nav_fixed nav.nav_blog {
		position: fixed;
		top: 0;
	}

// ==|== main styles ==========================================================
// ============================================================================

	// Sections
	// ----------------------------------------------------------------------------
	section:not(.sec_post) {
		padding-left: 6.4rem;
		padding-right: 6.4rem;
	}
	// + section odd (white bg) + \\
	section.sec_odd {
		padding-top: 14rem;
		padding-bottom: 14rem;
	}
	// --- Sales --- \\
	// section.sec_sales {
	div.bg_stripes {
		width: 200%;
		height: 200%;
		transform: translate3d(-50%,-50%,0);
	}
	// --- Blog --- \\
	body.home section.sec_blog,
	body.single section.sec_blog {
		padding-bottom: 14rem; // restore padding-bottom for single rowed packery pages
	}
	body.blog section.sec_blog {
		padding-bottom: 10rem; // compensate for margin-bottom of packery elements
	}
	section.sec_blog article a.button {
		margin-bottom: 10.8rem;
	}
	// --- Contact --- \\
	section.sec_contact article div.wrap_svg-multi {
		max-width: none;
	}
	section.sec_contact article div.wrap_svg-multi div.wrap_svg {
		display: inline-block;
		height: 3rem;
	}
	section.sec_contact article div.wrap_svg-multi div.wrap_txt-question1 {
		margin-right: 0.8rem;
		margin-bottom: 0;
		width: 46.3rem;
	}
	section.sec_contact article div.wrap_svg-multi div.wrap_txt-question2 {
		width: 37rem;
	}
	// --- Single Post --- \\
	section.sec_post article div.wrap_headlines h2 {
		font-size: 6.4rem;
	}

	// Footer
	// ----------------------------------------------------------------------------
	footer {
		padding: 12rem 6.4rem;
	}
	footer div.footer_developer {
		margin-bottom: 10rem;
	}

}

@media only screen and (min-width: 1380px) {

// ==|== main styles ==========================================================
// ============================================================================

	// Packery
	// ----------------------------------------------------------------------------
	div.pkry_container.row_single a,
	div.pkry_container.row_multi a {
		width: calc(25% - 6.8rem);
	}
	div.pkry_container div.pkry_gutter {
		width: 9rem;
	}
	// --- Brick Text --- \\
	div.pkry_container a.brick_text div.wrap_pkry-text p {
		font-size: 3.4rem;
	}

}

/*
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // IE10 & IE11
}
*/