// SASS Variables
// ----------------------------------------------------------------------------

// HSL Colors

$hsl_navy:   hsl(213, 66%, 22%);
$hsl_navy-D: hsl(213, 59%, 17%);

$hsl_blue:   hsl(200, 42%, 78%);

$hsl_pink:   hsl(10,  92%, 86%);

$hsl_L0:     hsl(0,    0%,   0%);
$hsl_L100:   hsl(0,    0%, 100%);

// HSLa Colors
$hsla_bone-L98: hsla(180,50%,99%,0.98);


// SASS Mixins
// ----------------------------------------------------------------------------
@mixin pos_cover($pos, $index) {
	position: $pos;
	z-index: $index;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
@mixin pos_cover-reset($pos) {
	position: $pos;
	// z-index: 1; // should we allow a specific z-index?
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	margin: 0;
}

@mixin toggle_visibility($state) {

	@if $state == "off" {
		opacity: 0;
		visibility: hidden;
	} @else if $state == "on" {
		opacity: 1;
		visibility: visible;
	}

}


// One stylesheet to rule them all
// ----------------------------------------------------------------------------
@import 'base';
@import 'main';
@import 'queries';