#page_loader.page_loader
	.wrap_content
		.wrap_logo-wordmark
			.wrap_loader
				.wrap_aspect-ratio
					.wrap_svg.wrap_ui-loader
						%svg.ui_loader{:viewBox => "0 0 64 64"}
							%use{"xlink:href" => "#ui_loader"}
			.wrap_svg.wrap_wordmark
				%svg.logo_stc-wordmark.svg_inline{:viewBox => "0 0 272 183"}
					%use{"xlink:href" => "#logo_stc-wordmark"}