%section#sec_blog.sec_blog.sec_odd
	%article{"data-container" => "width_1330"}

		%h2.visuallyhidden Follow the build, read the blog.
		.wrap_svg.wrap_svg-title.wrap_txt-follow
			%svg.txt_follow{:viewBox => "0 0 442 128"}
				%use{"xlink:href" => "#txt_follow"}

		%a.button.btn_brd.brd_navy{:href => "#", :title => "Visit the St. Charles Market Blog"} Visit the St. Charles Market Blog

		-# .packery_container