%section#sec_sales.sec_sales.sec_even
	%article{"data-container" => "width_700"}

		%h3.visuallyhidden Sales centre opens Spring 2016.
		.wrap_svg.wrap_svg-title.wrap_txt-sales
			%svg.txt_sales{:viewBox => "0 0 436 30"}
				%use{"xlink:href" => "#txt_sales"}

		.wrap_content
			:plain
				<p>Want to know more? <a href="https://twitter.com/modboxottawa" title="Follow us on Twitter" target="_blank">Follow us on Twitter</a> or subscribe <br>to our newsletter for regular updates.</p>

		.wrap_svg.wrap_stc-key
			%svg.logo_stc-key{:viewBox => "0 0 155 64"}
				%use{"xlink:href" => "#logo_stc-key"}

		%a.button.btn_brd.brd_white{:href => "#", :title => "Keep me posted"} Keep me posted