%section#sec_contact.sec_contact.sec_even

	%article

		%h3.visuallyhidden Got a question or want more info? We'd love to hear from you.
		.wrap_svg-multi
			.wrap_svg.wrap_svg-title.wrap_txt-question1
				%svg.txt_question-1{:viewBox => "0 0 463 30"}
					%use{"xlink:href" => "#txt_question-1"}
			.wrap_svg.wrap_svg-title.wrap_txt-question2
				%svg.txt_question-2{:viewBox => "0 0 370 30"}
					%use{"xlink:href" => "#txt_question-2"}

		%a.button.btn_brd.brd_white.link_tel{:href => "tel:+1-613-789-2092", :title => "Call us"} Call us at (613) 789-2092
		%a#secret_email.button.btn_brd.brd_white.link_email{:href => "#", :title => "Send us an email"} Send us an email